@import '../scripts/constants';
@import '../scripts/mixins';

.mp-footer {
  & .mp-navbottom {
    @include flex();

    background-color: $nav-background;
    border-bottom: $nav-border;
    border-left: $nav-border;
    border-radius: $nav-bottom-radius;
    border-right: $nav-border;
    bottom: $nav-size;
    color: #fff;
    flex-direction: row;
    height: $nav-height;
    width: 100%;
  }
}
